#restaurantDiv {
    text-align: left;
    display: inline-block;
    border: 5px solid rgb(51, 9, 9);
    background-color: red;
    border-radius: 5px;
    position: relative;
    margin: 20px;
    color: rgb(255, 255, 255);
}
#restaurantDiv p {
    display: inline-block;
    margin: 15px 5px;
}
img {
    width: 300px;
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}
#editButton {
    left: 5px;
    background-color: brown;
    color: orange;
}
#applyButton {
    right: 5px;
    background-color: green;
    color: greenyellow;
}

#restaurantDiv > button {
    top: 5px;
    position: absolute;
    transition: 0.2s;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.5;
}
#divRestaurantDiv input {
    background-color: orange;
    color: blue;
    opacity: 0.3;
    margin: 0px 10px;
    transition: 0.2s;
    width: 100px;
    border: 2px solid black;
}
#divRestaurantDiv {
    margin: 20px 10px;
}
#divRestaurantDiv input:hover {
    opacity: 1;
    transition: 0.2s;
}
#restaurantDiv > button:hover {
    opacity: 1;
    transition: 0.2s;
}

section {
    margin: 0 auto;
    text-align: center;
}