<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4c8b2572-57f1-4ee2-952a-183b2a210878/resourceGroups/MyAppServicePlan_group/providers/Microsoft.Web/sites/MyAppServicePlan</ResourceId>
    <ResourceGroup>MyAppServicePlan_group</ResourceGroup>
    <ApiResourceId>/subscriptions/4c8b2572-57f1-4ee2-952a-183b2a210878/resourceGroups/MyAppServicePlan_group/providers/Microsoft.ApiManagement/service/FirstProjectForAzureapi/apis/FirstProjectForAzure</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://myappserviceplan-epcagzfme0fvcbhx.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>30c8945f-421d-4ad0-bc1b-ab9df4ded724</ProjectGuid>
    <MSDeployServiceURL>myappserviceplan-epcagzfme0fvcbhx.scm.westeurope-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyAppServicePlan</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>