

:root {
    --background-color-nav: rgb(230, 173, 69);
    --color-black: black;
    --color-white: white;
    --color-hover: red;
    --background-color-poet: bisque;
    --invert-img: 0;
}

[data-theme="dark"]
{
    --background-color-poet: black;
    --invert-img: 1;
    --color-black: white;
    --color-white: black;
    --background-color-nav: black;
    --color-hover: white;
}

#listPoets {
    margin: 0 auto;
    display: block;
    width: 200px;
    text-align: center;
    list-style:none;
    padding: 0;
    position: relative;
    border-left: 2px solid var(--color-black);
    border-right: 2px solid var(--color-black);
}
#listPoets li {
    background-color: var(--color-white);
}
#listPoets li:hover {
    background-color: var(--color-hover);
}
#listPoets li > a:hover {
    color: var(--color-white);
}
#listPoets > p {
    margin: 0px;
    padding: 0px 36px;
    font-size: 25px;
    background-color: rgb(185, 140, 56);
    color: var(--color-black);
    background-color: var(--color-white);
    cursor: pointer;
}
#listPoets a {
    text-decoration: none;
    color: var(--color-black);
}
#poet {
    transition: 0.2s;
}
nav {
    background-color: var(--background-color-nav);
    border: 2px solid var(--color-black);
    margin-bottom: 10px;
}

#nameImgPoet > p
{
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
}

#sectionPoet {
    margin: 0 auto;
    text-align: center;
}
img {
    width: 500px;
    border: 2px solid var(--color-black);
}
#sectionPoet > div {
    background-color: var(--background-color-poet);
    color: var(--color-black);
    width: 700px;
    margin: 0 auto;
    border: 1px solid var(--color-black);
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 35px;  /* можно изменить */
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;
    color: var(--color-black);
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    user-select: none;

    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
